@font-face {
    font-family: 'PrequelDemos-clean';
    src: url(FONT/PrequelDemo-clean.ttf) format(PrequelDemo-clean); 
}

@font-face {
    font-family:'Mukta' ;
    src: url(FONT/Mukta-Regular.ttf) format(Mukta-Regular);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PrequelDemo-clean';
}

header {
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 100px; /* Ajusta el tamaño máximo del logo según tus necesidades */
    position: relative;
    left: 20px;

}

.menu-toggle {
    display: none; /* Oculta el menú hamburguesa en pantallas más grandes */
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #661691;
    margin: 5px 0;
}

.menu {
    display: flex;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #661691;
    font-weight: bold;
}

/* Ajusta el estilo del menú para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: white;
        width: 100%;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: block;
    }
}

.carousel{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 550px;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('IMG/fondo.png'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el fondo */
    background-position: top; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    color: #ffffff; /* Color del texto en la página (puedes ajustarlo según tu diseño) */
}



.titulo{
    color: #fbb03b;
    font-family: 'PrequelDemo-clean';
    
}

.introduccion{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #ffffff;
   
}

.presentacion{
    display: flex;
    max-width: 550px;
    padding: 50px;
    align-items: center;
}

.secundario{
    font-family: 'Mukta-Regular';
    color: #ffffff;
}

.desarrollo{
    max-width: 700px;
    color: #ffffff;
}

footer{
    padding: 50px;
}

